.button {
  --button-color: var(--theme-color, lightgray);
  --button-text-color: var(--theme-text-color, black);
  --button-hover-color: var(--theme-hover-color, dimgray);
  --button-focus-color: var(--theme-focus-color, cyan);
  --button-padding: var(--theme-padding, 1vw);
  --button-border: var(--theme-border, 2px solid black);
  --button-border-radius: var(--theme-border-radius, 5px);

  display: inline-block;
  box-sizing: border-box;
  user-select: none;

  background-color: var(--button-color);
  color:var(--button-text-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
}
.button:hover {
  background-color: var(--button-hover-color);
}
.button:focus {
  background-color: var(--button-focus-color);
}
.button:active {
  background-color: var(--button-text-color);
}
