.checkbox {
  --checkbox-color: var(--theme-color, lightgray);
  --checkbox-text-color: var(--theme-text-color, black);
  --checkbox-padding: var(--theme-padding, 1vw);
  --checkbox-border: var(--theme-border, 2px solid black);
  --checkbox-border-radius: var(--theme-border-radius, 5px);

  --checkbox-hover-color: var(--theme-hover-color, dimgray);
  --checkbox-focus-color: var(--theme-focus-color, cyan);

  --checkbox-active-color: var(--theme-active-color, black);
  --checkbox-active-text-color: var(--theme-text-active-color, white);

  display: inline-block;

  background-color: var(--checkbox-color);
  color: var(--checkbox-text-color);
  padding: var(--checkbox-padding);
  border: var(--checkbox-border);
  border-radius: var(--checkbox-border-radius);
}
.checkbox:hover {
  background-color: var(--checkbox-hover-color);
}
.checkbox:has(input:checked):hover {
  background-color: var(--checkbox-hover-color);
}
.checkbox:focus {
  background-color: var(--checkbox-focus-color);
}
.checkbox:has(input:checked):focus {
  background-color: var(--checkbox-focus-color);
}
.checkbox:has(input:checked) {
  background-color: var(--checkbox-active-color);
  color: var(--checkbox-active-text-color);
}

.checkbox > input {
  position: absolute;
  visibility: hidden;
}
