.combobox-input {
  display: inline-block;
  position: relative;
}
.combobox-input:focus-within > ul {
  visibility: visible;
}
.combobox-input:has(ul):focus-within > input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.combobox-input > input {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  outline: none;
  line-height: inherit;

  border: var(--combobox-input-border, 2px solid lightseagreen);
  background-color: var(--combobox-input-background-color, teal);
  padding: var(--combobox-input-padding, 1vw);
  border-radius: var(--combobox-input-border-radius, 5px);
}
.combobox-input > input:read-only {
  cursor: pointer;
}
.combobox-input > input:active {
  background-color: var(--combobox-input-background-color_active, lightseagreen);
}
.combobox-input > input:focus,
.combobox-input > input:hover {
  border: var(--combobox-input-border_focus, 2px solid black);
}

.combobox-input > ul {
  z-index: 1;
  position: absolute;

  visibility: hidden;
  list-style-type: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  border: var(--combobox-input-suggestions-border, none);
  background-color: var(--combobox-input-suggestions-background-color, teal);
  padding: var(--combobox-input-suggestions-padding, 0);
  border-radius: var(--combobox-input-suggestions-border-radius, 5px);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.combobox-input > ul > li {
  overflow: hidden;
  cursor: pointer;
  outline: none;
  white-space: pre; /* makes empty string options visible */
  user-select: none;

  border: var(--combobox-input-suggestion-border, 2px solid lightseagreen);
  background-color: var(--combobox-input-suggestion-background-color, teal);
  padding: var(--combobox-input-suggestion-padding, 1vw);
  border-radius: var(--combobox-input-suggestion-border-radius, 5px);
}
.combobox-input > ul > li:not(:last-child) {
  margin-bottom: var(--combobox-input-suggestion-separation, 0);
}
.combobox-input > ul > li:active {
  background-color: var(--combobox-input-suggestion-background-color_active, lightseagreen);
}
.combobox-input > ul > li:focus,
.combobox-input > ul > li:hover {
  border: var(--combobox-input-suggestion-border_focus, 2px solid black);
}

.combobox-input.merge-inner-suggestions-border > ul > li:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.combobox-input.merge-inner-suggestions-border > ul > li:not(:first-child) {
  border-top-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.combobox-input.merge-input-with-suggestions > ul > li:first-child {
  border-top-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
