:root {
    --combobox-hovering-color: dimgrey; 
    --combobox-focus-color: blue;
    --combobox-padding: 1vw;
    --combobox-color: lightgray;
}

.combobox {
    position: relative;
}
.combobox:focus-within ul {
    visibility: visible;
}
.combobox:has(ul):focus-within input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.combobox input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-block: 0;
    padding-inline: 0;
    padding: var(--combobox-padding);

    outline: none;
    border-style: none;
    border-radius: 5px;

    background-color: var(--combobox-color);
}
.combobox input:read-only {
    cursor: pointer;
}
.combobox input:hover {
    background-color: var(--combobox-hovering-color);
}
.combobox input:focus {
    background-color: var(--combobox-focus-color);
}

.combobox ul {
    z-index: 1;
    position: absolute;
    
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    width: 100%;

    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: var(--combo-box-hovering-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    list-style-type: none;

    visibility: hidden;
    background-color: var(--combobox-color);
}
.combobox ul li {
    padding: var(--combobox-padding);
    overflow: hidden;
    cursor: pointer;
    outline: none;
    white-space: pre; /* makes empty string options visible */
}
.combobox ul li:hover {
    background-color: var(--combobox-hovering-color);
}
.combobox ul li:focus {
    background-color: var(--combobox-focus-color);
}
