:root {
    --combobox-input-hover-color: dimgrey; 
    --combobox-input-focus-color: blue;
    --combobox-input-padding: 1vw;
    --combobox-input-color: lightgray;
}

.combobox-input {
    position: relative;
}
.combobox-input:focus-within ul {
    visibility: visible;
}
.combobox-input:has(ul):focus-within input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.combobox-input input {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-block: 0;
    padding-inline: 0;
    padding: var(--combobox-input-padding);

    outline: none;
    border-style: none;
    border-radius: 5px;

    background-color: var(--combobox-input-color);
}
.combobox-input input:read-only {
    cursor: pointer;
}
.combobox-input input:hover {
    background-color: var(--combobox-input-hover-color);
}
.combobox-input input:focus {
    background-color: var(--combobox-input-focus-color);
}

.combobox-input ul {
    z-index: 1;
    position: absolute;

    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    width: 100%;

    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: var(--combobox-input-hover-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    list-style-type: none;

    visibility: hidden;
    background-color: var(--combobox-input-color);
}
.combobox-input ul li {
    padding: var(--combobox-input-padding);
    overflow: hidden;
    cursor: pointer;
    outline: none;
    white-space: pre; /* makes empty string options visible */
}
.combobox-input ul li:hover {
    background-color: var(--combobox-input-hover-color);
}
.combobox-input ul li:focus {
    background-color: var(--combobox-input-focus-color);
}
