.emoji-selector {
  display: inline-block;
  position: relative;
}

.emoji-selector > label {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  border: var(--emoji-selector-border, 2px solid lightseagreen);
  background-color: var(--emoji-selector-background-color, teal);
  padding: var(--emoji-selector-padding, 1vw);
  border-radius: var(--emoji-selector-border-radius, 5px);
}
.emoji-selector > label:active {
  background-color: var(--emoji-selector-background-color_active, lightseagreen);
}
.emoji-selector > label:focus {
  border: var(--emoji-selector-border_focus, 2px solid black);
}
.emoji-selector > label:hover {
  border: var(--emoji-selector-border_hover, 2px solid teal);
}

.emoji-selector > label > input {
  z-index: -1;
  position: absolute;
}

.emoji-selector > .selector-pane {
  visibility: hidden;

  position: fixed;
  z-index: 1;
  left: 1vw;
  right: 1vw;
  max-height: 50vh;
  overflow-wrap: break-word;
  
  overflow-y: scroll;

  border: var(--emoji-selector-pane-border, 2px solid lightseagreen);
  border-radius: var(--emoji-selector-pane-border-radius, 5px);
  background-color: var(--emoji-selector-pane-background-color, teal);
  padding: var(--emoji-selector-pane-padding, 1vw);
}
.emoji-selector > .selector-pane.visible {
  visibility: visible;
}

.emoji-selector > .selector-pane > label {
  text-transform: uppercase;
  user-select: none;
  color: var(--emoji-selector-category-text-color, white);
}

.emoji-selector > .selector-pane > .category-pane {
  display: flex;
  flex-wrap: wrap;

  padding: var(--emoji-selector-category-padding, 1vw);
  border: var(--emoji-selector-category-border, none);
  background-color: var(--emoji-selector-category-background-color, transparent);
}
.emoji-selector > .selector-pane > .category-pane:not(:last-child) {
  margin-bottom: 2vw;
}

.emoji-selector > .selector-pane > .category-pane > span {
  width: 1fr;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;

  border: var(--emoji-selector-emoji-border, 2px solid transparent);
  background-color: var(--emoji-selector-emoji-background-color, transparent);
  padding: var(--emoji-selector-emoji-padding, 1vw);
  border-radius: var(--emoji-selector-emoji-border-radius, 5px);
}
.emoji-selector > .selector-pane > .category-pane > span.active,
.emoji-selector > .selector-pane > .category-pane > span:active {
  background-color: var(--emoji-selector-background-color_active, lightseagreen);
}
.emoji-selector > .selector-pane > .category-pane > span:focus {
  border: var(--emoji-selector-border_focus, 2px solid black);
}
.emoji-selector > .selector-pane > .category-pane > span:hover {
  border: var(--emoji-selector-border_hover, 2px solid lightseagreen);
}
