:root {
  --emoji-selector-padding: 1vw;
  --emoji-selector-color: blue;
  --emoji-selector-focus-color: green;
}

.emoji-selector {
  display: inline-block;
  padding: var(--emoji-selector-padding);

  max-width: 100vw;

  box-sizing: border-box;
  position: relative;
}
.emoji-selector:focus-within .emoji-selector-pane {
  visibility: visible;
}
.emoji-selector:focus-within button {
  background-color: var(--emoji-selector-focus-color);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.emoji-selector:focus-within button::after {
  content: "";
  display: block;
  background-color: var(--emoji-selector-focus-color);
  
  width: calc(100% - var(--emoji-selector-padding) * 2);
  height: calc(var(--emoji-selector-padding) * 2);

  position: absolute;
  left: var(--emoji-selector-padding);
  bottom: calc(0px - var(--emoji-selector-padding));
  
  z-index: 0;
}

.emoji-selector button {
  padding: var(--emoji-selector-padding);

  background-color: var(--emoji-selector-color);

  outline: none;
  border-style: none;
  border-radius: 5px;
}

.emoji-selector .emoji-selector-pane {
  z-index: 1;
  visibility: hidden;
  background-color: var(--emoji-selector-focus-color);
  border-radius: 5px;

  position: fixed;
  left: var(--emoji-selector-padding);

  box-sizing: border-box;
  padding: var(--emoji-selector-padding);
  width: calc(100vw - var(--emoji-selector-padding) * 2);
  max-height: 50vh;

  overflow-wrap: anywhere;
  overflow-x: hidden;
  overflow-y: scroll;
}

.emoji-selector .emoji-list {
  --emoji-list-color: var(--emoji-selector-focus-color)
}
