.emoji-list {
  --emoji-list-color: var(--default-component-color, lightgray);
  --emoji-list-text-color: var(--default-text-color, black);
  --emoji-list-hover-color: var(--default-hover-color, dimgray);
  --emoji-list-focus-color: var(--default-focus-color, cyan);
  --emoji-list-padding: var(--default-padding, 1vw);

  background-color: var(--emoji-list-color);
}

/* category container */
.emoji-list > div {
  padding: var(--emoji-list-padding)
}

/* category header */
.emoji-list > div > label {
  text-transform: uppercase;

  color: var(--emoji-list-text-color);
}

/* emojis */
.emoji-list > div > div > label {
  border-radius: 5px;
  padding: 1vw;
  outline: none;

  color: var(--emoji-list-text-color);
}
.emoji-list > div > div > label:hover {
  background-color: var(--emoji-list-hover-color);
}
.emoji-list > div > div > label:focus {
  background-color: var(--emoji-list-focus-color);
}
