.emoji-list {
  --emoji-list-color: var(--custom-color, var(--theme-component-color, lightgray));
  --emoji-list-text-color: var(--custom-text-color, var(--theme-text-color, black));
  --emoji-list-hover-color: var(--custom-hover-color, var(--theme-hover-color, dimgray));
  --emoji-list-focus-color: var(--custom-focus-color, var(--theme-focus-color, cyan));
  --emoji-list-padding: var(--custom-padding, var(--theme-padding, 1vw));
  --emoji-list-border-radius: var(--custom-border-radius, var(--theme-border-radius, 5px));

  background-color: var(--emoji-list-color);
}

/* category container */
.emoji-list > div {
  padding: var(--emoji-list-padding);
}

/* category header */
.emoji-list > div > label {
  text-transform: uppercase;

  color: var(--emoji-list-text-color);
}

/* emojis */
.emoji-list > div > div > label {
  display: inline-block;
  padding: 1vw;
  outline: none;
  box-sizing: border-box;

  border-radius: var(--emoji-list-border-radius);
  color: var(--emoji-list-text-color);
}
.emoji-list > div > div > label:hover {
  background-color: var(--emoji-list-hover-color);
}
.emoji-list > div > div > label:focus {
  background-color: var(--emoji-list-focus-color);
}
