.emoji-selector {
  --emoji-selector-color: var(--custom-color, var(--theme-component-color, lightgray));
  --emoji-selector-text-color: var(--custom-text-color, var(--theme-text-color, black));
  --emoji-selector-hover-color: var(--custom-hover-color, var(--theme-hover-color, dimgray));
  --emoji-selector-focus-color: var(--custom-focus-color, var(--theme-focus-color, cyan));
  --emoji-selector-padding: var(--custom-padding, var(--theme-padding, 1vw));
  --emoji-selector-border: var(--custom-border, var(--theme-border, 2px solid black));
  --emoji-selector-border-radius: var(--custom-border-radius, var(--theme-border-radius, 5px));

  position: relative;
}
.emoji-selector:focus-within .emoji-selector-pane {
  visibility: visible;
}
.emoji-selector:focus-within button {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.emoji-selector:focus-within button::after {
  content: "";
  display: block;

  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  
  border: var(--emoji-selector-border);
  border-top: none;
  background-color: var(--emoji-selector-color);
}
.emoji-selector:has(button:focus) .emoji-list {
  --emoji-list-color: var(--emoji-selector-focus-color);
}

.emoji-selector button {
  outline: none;
  box-sizing: border-box;

  border: var(--emoji-selector-border);
  border-radius: var(--emoji-selector-border-radius);
  color: var(--emoji-selector-text-color);
  background-color: var(--emoji-selector-color);
  padding: var(--emoji-selector-padding);
}
.emoji-selector > button:hover {
  background-color: var(--emoji-selector-hover-color);
}
.emoji-selector > button:hover::after {
  background-color: var(--emoji-selector-hover-color);
}
.emoji-selector > button:focus {
  background-color: var(--emoji-selector-focus-color);
}
.emoji-selector > button:focus::after {
  background-color: var(--emoji-selector-focus-color);
}

.emoji-selector .emoji-selector-pane {
  z-index: 1;
  visibility: hidden;
  box-sizing: border-box;

  position: fixed;
  width: 98vw;
  left: 1vw;
  max-height: 50vh;

  overflow-wrap: anywhere;
  overflow-x: hidden;
  overflow-y: scroll;

  border: var(--emoji-selector-border);
  border-radius: var(--emoji-selector-border-radius);
}
