:root {
  --new-todo-color: yellow;
  --new-todo-padding: 1vw 2vw;
  --new-todo-focus-color: cyan;
  --new-todo-text-color: red;
}

.new-todo {
  display: flex;

  align-items: center;
  justify-content:space-between;
}

.new-todo > .custom-emoji-selector {
  --emoji-selector-color: var(--new-todo-color);
  --emoji-selector-text-color: var(--new-todo-text-color);
  --emoji-selector-focus-color: var(--new-todo-focus-color);
  --emoji-selector-padding: var(--new-todo-padding);
}

.new-todo > .custom-combobox-input {
  --combobox-input-color: var(--new-todo-color);
  --combobox-input-focus-color: var(--new-todo-focus-color);
  --combobox-input-padding: var(--new-todo-padding);
  --combobox-input-text-color: var(--new-todo-text-color);
}

.new-todo > button {
  display: inline-block;
  background-color: var(--new-todo-color);

  padding: var(--new-todo-padding);

  border-radius: 5px;
  border-style: none;
}
.new-todo > button:active {
    background-color: var(--new-todo-focus-color);
}
