.new-todo {
  --new-todo-color: var(--theme-container-color, white);
  --new-todo-padding: var(--theme-container-padding, 0px);
  --new-todo-border-radius: var(--theme-container-border-radius, 0px);
  --new-todo-border: var(--theme-container-border, none);

  display: flex;

  align-items: center;
  justify-content: space-between;

  border: var(--new-todo-border);
  border-radius: var(--new-todo-border-radius);
  background-color: var(--new-todo-color);
  padding: var(--new-todo-padding);
}
