.todos-list {
  --todos-list-color: var(--theme-component-color, lightgray);
  --todos-list-text-color: var(--theme-text-color, black);
  --todos-list-hover-color: var(--theme-hover-color, dimgray);
  --todos-list-focus-color: var(--theme-focus-color, cyan);
  --todos-list-padding: var(--theme-padding, 1vw);

  list-style-type: none;
}

.todos-list > li {
  outline: none;
  border-radius: 5px;

  background-color: var(--todos-list-color);
  color: var(--todos-list-text-color);
  padding: var(--todos-list-padding);
}
.todos-list > li:hover {
  background-color: var(--todos-list-hover-color);
}
.todos-list > li:focus {
  background-color: var(--todos-list-focus-color);
}
