.todos-list {
  list-style-type: none;

  margin: var(--todos-list-margin, 0);
  padding: var(--todos-list-padding, 0);
}

.todos-list > li {
  display: flex;

  height: var(--todos-list-item-height, 5%);
}
.todos-list > li:not(:last-child) {
  margin-bottom: var(--todos-list-separation-margin, 1dvh);
}

.todos-list > li > div {
  display: inline-flex;
  align-items: center;
  width: 90%;
  box-sizing: border-box;

  border: var(--todos-list-item-name-border, 2px solid moccasin);
  padding: var(--todos-list-item-name-padding, 1vw);
  background-color: var(--todos-list-item-name-background-color, burlywood);
  border-radius: var(--todos-list-item-name-border-radius, 5px);
}

.todos-list > li > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  width: 10%;
  outline: none;

  border: var(--todos-list-item-button-border, 2px solid lightseagreen);
  padding: var(--todos-list-item-button-padding, 1vw);
  background-color: var(--todos-list-item-button-background-color, teal);
  border-radius: var(--todos-list-item-button-border-radius, 5px);
}
.todos-list > li > button:active {
  background-color: var(--todos-list-item-button-background-color_active, lightseagreen);
}
.todos-list > li > button:focus,
.todos-list > li > button:hover {
  border: var(--todos-list-item-button-border_focus, 2px solid black);
}
