* {
    margin: 0;
    padding: 0;
}

body {
  padding: 1vw;
}

.light-theme {
  --theme-color: yellow;
  --theme-text-color: darkblue;
  --theme-hover-color: tomato;
  --theme-focus-color: green;
  --theme-padding: 2vw 4vw;
  --theme-border: 5px solid red;
  --theme-border-radius: 15px;

  --theme-container-color: blue;
  --theme-container-border-radius: 5px;
  --theme-container-padding: 0;
  --theme-container-border: 3px solid pink;
}
.light-theme .new-todo {
  --theme-container-color: green;
}

.dark-theme {
  --theme-component-color: darkblue;
  --theme-text-color: yellow;
  --theme-hover-color: green;
  --theme-focus-color: tomato;
  --theme-padding: 2vw 4vw;
}

.new-todo {
  margin-bottom: 2vw;
}

.todos-list {
  margin-inline: 3vw;
  --custom-padding: 1vw 3vw;
}
