body {
  margin: 0;
}

.app {
  box-sizing: border-box;
  height: 100dvh;
  padding: 1%;

  --emoji-selector-border-radius: 5px 0 0 5px;
  --combobox-input-border-radius: 0;
  --new-todo-add-button-border-radius: 0 5px 5px 0;

  --todos-list-item-name-border-radius: 5px 0 0 5px;
  --todos-list-item-button-border-radius: 0 5px 5px 0;
}
.app * {
  line-height: 1em;
}

.app > .new-todo {
  height: 7%; 
}

.app > .todos-list {
  height: 91%;
  margin: 1% 5%;

  overflow-y: auto;
}
